{% render 'features', section: section %}

{% schema %}
{
  "name": "t:sections.footer_features.name",
  "class": "section-features footer-features",
  "max_blocks": 4,
  "disabled_on": {
    "groups": [
      "header"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.layout.heading"
    },
    {
      "type": "checkbox",
      "id": "inline",
      "default": false,
      "label": "t:sections.features.settings.inline.label",
      "info": "t:sections.features.settings.inline.info"
    },
    {
      "type": "checkbox",
      "id": "stack_on_mobile",
      "default": true,
      "label": "t:sections.all.layout.stack_on_mobile.label"
    },
    {
      "id": "icon_size",
      "label": "t:sections.features.settings.icon_size.label",
      "type": "select",
      "default": "large",
      "options": [
        {
          "value": "small",
          "label": "t:sections.features.settings.icon_size.options.small"
        },
        {
          "value": "large",
          "label": "t:sections.features.settings.icon_size.options.large"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "background-2",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.heading"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 46,
      "label": "t:sections.all.section_spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 46,
      "label": "t:sections.all.section_spacing.spacing_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "t:sections.features.blocks.feature.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.all.icon.name",
          "default": "automobile",
          "options": [
            {
              "label": "",
              "value": ""
            },
            {
              "label": "Automobile",
              "value": "automobile"
            },
            {
              "label": "Card",
              "value": "credit-card"
            },
            {
              "label": "Person",
              "value": "person"
            },
            {
              "label": "Envelope",
              "value": "envelope"
            }
          ]
        },
        {
          "id": "image",
          "label": "t:sections.features.blocks.feature.settings.image.label",
          "info": "t:sections.features.blocks.feature.settings.image.info",
          "type": "image_picker"
        },
        {
          "id": "title",
          "label": "t:sections.features.blocks.feature.settings.title.label",
          "type": "text",
          "default": "Feature"
        },
        {
          "id": "text",
          "label": "t:sections.features.blocks.feature.settings.text.label",
          "type": "richtext",
          "default": "<p>Pair text with an icon to focus on your store's features.</p>"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "feature"
      },
      {
        "type": "feature"
      },
      {
        "type": "feature"
      },
      {
        "type": "feature"
      }
    ]
  }
}
{% endschema %}
